:root {
  /* fix this top value stuff later gng */

  --InputHoverBackgroundColor: #1d1d1d;

  --NotificationUnseenBG: #424242;
  --NavPaneBackgroundColor: #1d1d1d;
  --DefaultNanoFontSize: 0.5rem;
  --DefaultMicroFontSize: 0.6rem;
  --DefaultTinyFontSize: 0.7rem;
  --DefaultMiniFontSize: 0.8rem;
  --DefaultSmallFontSize: 0.9rem;
  --DefaultMediumFontSize: 1rem;
  --DefaultLargeFontSize: 1.25rem;
  --DefaultXLargeFontSize: 1.5rem;
  --DefaultXxLargeFontSize: 2rem;
  --DefaultXxxLargeFontSize: 2.5rem;
  --DefaultXxxxLargeFontSize: 3rem;
  --DefaultXxxxxLargeFontSize: 4rem;
  --DefaultTextFontFamily: "Open Sans", sans-serif;
  --DefaultTechnicalFontFamily: "IBM Plex Mono", monospace;

  /*Obviously, change this if you want to change the color of your default text*/
  --DefaultTextColor: #e2e2e2;

  --DefaultBlueColor: #6cb1e1;
  --DefaultRedColor: #ff4e4e;
  --DefaultRedDarkColor: #701e24;
  --DefaultGreenColor: #6ee16c;
  --DefaultGreenDarkColor: #344734;
  --DefaultPurpleColor: #ff5e9d;
  --DefaultGreyColor: #999999;
  --DefaultOrangeColor: #ff7238;
  --DefaultYellowColor: #ffe033;
  --StateLabelBackground: #3c4044;
  --LinkColor: #ffe033;
  --LinkHoverColor: #fd70e1;
  --PrimaryNavBottomBorder: 1px solid rgba(0, 0, 0, 0.25);
  --PrimaryNavBackgroundColor: #1c272e;
  --PrimaryNavHeight: 60px;
  --PrimaryNavFontSize: 1em;
  --SecondaryNavBackgroundColor: #1c272e;
  --SecondaryNavFullWidth: 400px;
  --SecondaryNavSmallIconOuterWidth: 36px;
  --SecondaryNavRegularIconOuterWidth: 52px;
  --NavControlsHeight: 1.5em;
  --NavUpdatesIndicatorColor: #6cb1e1;
  --NavPaneTitleFontFamily: "Open Sans", sans-serif;
  --NavPaneTitleFontSize: 1.5em;
  --PageTitleFontSize: 3em;
  --PageTitleFontSize800: 2.5em;
  --PageTitleFontSize600: 2em;
  --PageTitleFontSize400: 1.5em;
  --PageTitleColor: white;
  --PageDescriptionFontSize: 1rem;
  --BreadcrumbFontSize: 0.8em;
}

/*This controls profile's background replace the color with url(link) to link your image*/
body {
  background: #1e1e1e;
}

/* Fix small gap for my own settings*/
[data-_sSiteMaxWidth="ExtraLarge"] {
  --BodyWrapperMaxWidth: unset;
}

/*Adjust the color of the site logo*/
#SiteLogo img {
  max-width: unset;
}

/*This controls the background behind the main content on your profile*/
#MainContent {
  background: #1e1e1e;
}

/*This controls the background behind modules*/
#ContentGrid {
  background: #1e1e1e;
}
/* Row fix */
#ContentGrid > row > column:not(:first-child) {
  background: #1e1e1e;
}
#ContentGrid > row > column:not(:first-child) module,
#ContentGrid > row > column:not(:first-child) moduleGroup {
  border-bottom-color: var(--ModuleBorderColor);
}

/*This contoles the looks of your modules such as identity, messages, online status, etc.*/
.PageModule > .Content {
  background-color: #141414;
  border-radius: 6px;
}

/*general control for the look of headers*/
b,
h2,
h3 {
  background: #1d1d1d !important;
  text-align: center !important;
  color: white;
}

/*I have this here to get rid of the small bit of border that would appear under the h2 headers*/
.PageModule > h2:after {
  visibility: hidden;
}

/*Top Navigation properties*/
#PrimaryNav {
  background: #1d1d1d;
  border-bottom: 2px solid var(--ModuleBorderColor);
}

/*Side Navgiation properties*/
#SecondaryNav {
  background: #1d1d1d;
  border-right: 1px solid var(--ModuleBorderColor);
}

/*Changes subnav when you scroll down*/
#SubNavigator {
  display: block;
  border-bottom: none;
  padding-bottom: 10px;
  text-align: center;
}

#SubNavigator.Fixed {
  background: #1a1a1a;
}

/*These are the control buttons on your profile such as overview and settings*/
#SubNavigator .DropdownMenuSubNavigator {
  background: #1e1e1e;
}

/* The buttons */
#SubNavigator .DropdownMenuSubNavigator a {
  background-color: #141414;
}

/* The list items */
#SubNavigator .DropdownMenuSubNavigator li {
  background-color: #141414;
}

#SubNavigator .ActiveEntry {
  font-weight: bold;
  margin-bottom: -0.125em;
  border-bottom-width: 0.125em;
  border-bottom-style: solid;
  border-bottom-color: #1d1d;
  background: #1a1a1a;
}

/*a controls the default color of links, a:hover controls the link cover when hovered over*/
a {
  color: var(--DefaultTextColor);
}

a:hover {
  color: #ffffff;
}

/*Controls the looks of your buttons such as add message*/
button {
  background: #1d1d1d;
  border: 1px solid #363636;
}

/*controls the Load More button*/
.ExtendedContentButton {
  background: #1d1d1d;
  border: 1px solid #363636;
}

/*Controls the close button on your add message module*/
.Modal .CloseModal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.9em;
  margin: 2px;
  z-index: 1;
  font-size: 1.5em;
  cursor: pointer;
}

/*Text Box controls for when you add a message*/
.Editor .ViewModes .Wysiwyg .RichText {
  background: #1d1d1d;
  border-radius: 3 3 3 0;
  border: 1px solid #363636;
}
.Editor .WysiwygPalettes {
  background: #1d1d1d;
  border-top: 1px solid #363636;
}

/*The very bottom section of your page*/
#PageFooter {
  background: #1d1d1d;
}

/*Visitors Module Tab appearance*/
input:checked + .Tab {
  border: 3px solid #1d1d; /*Controls border thickness & color for Active tab*/
  border-bottom: 0;
  cursor: default;
  font-weight: 700;
  margin-bottom: -3px;
  opacity: 1;
}

#VisitorsModule .Tabs {
  padding: 0.5em 0.75em;
  font-size: var(--DefaultSmallFontSize);
}

#CoreStatsModule .Content {
  padding: 0.5rem 0 0.5rem 0;
}

:where(#ResponsibilitiesModule, #CoreStatsModule) .Card {
  border: solid 1px #363636;
  background: #1d1d1d;
}

/* Color corrections */
.Cluster input[type="number"] {
  border: solid 1px #363636;
  background: #1d1d1d;
}
.StrangeBerryModal select {
  border: solid 1px #363636;
  background: #1d1d1d;
}
.StrangeBerryModal select option {
  background: #1d1d1d;
}

/*This is mostly used to hide the 2 double stacked borders below the tabs*/
.Tabs {
  border: none;
  border-bottom: 0;
  border-radius: 0.25em 0.25em 0 0;
  cursor: pointer;
  opacity: 0.5;
  padding: 0.75em 1em;
  transition: opacity 0.2s ease-in-out;
}

.TabsWrapper {
  border-bottom: hidden;
}

.Tab {
  background: transparent; /*Controls background color for all tabs*/
  border: 1px solid #1d1d; /*Controls border for inactive tab*/
  border-bottom: 0;
  border-radius: 0.25em 0.25em 0 0;
  cursor: pointer;
  opacity: 0.5;
  padding: 0.75em 1em;
  transition: opacity 0.2s ease-in-out;
}
